@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Maitree:wght@200;300;400;500;600;700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
/* OBS: quando for criar um box shadow e quiser sobrepor ele em uma div não coloque uma cor na mesma.*/
body{

    background-color: #dddddd;
}
/*  ------ Navegação bar ------   */
.menu-bg{
    background-color: #067d9d;
    -webkit-box-shadow: 0px -10px 114px 60px rgba(99,79,99,1);
    z-index: 2;
    
}
.menu{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu-logo{
    border-radius: 20px;
    width: 70px;
    display: flex;
    justify-content: center;
}

.menu-logo img{
    height: 60px;
}
.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}
.menu-nav li{

    margin-left: 60px;
}
.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
    transition: 0.3s ease; 
}
.menu-nav a:hover{
    color: rgb(255, 255, 255);
    transition: 1.2s;
    border-radius: 1em;
    background-color: rgba(79, 79, 79, 0.449);
}

ul{
    list-style: none;
}
.menu-nav a{
    color: #dddddd;
}
a{
    text-decoration: none;
}


/* --- Informações ---*/
.separação{
    display: block;
    flex-wrap: wrap;
    max-width: 500px;
    padding: 60px 0;
    flex: 2 1 300px;
    margin: 0 10px;
    align-items: center;
}
.separação h1{
    font-size: 3em;
    margin-bottom: .5em;
}
.separação p{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom:1em;
    color: #3a3a3a;
}
.separação-cor{
    display: flex;
    justify-content: center;
    background-color: #c799e1;
    -webkit-box-shadow: 0px 0px 39px 10px rgb(112, 87, 127);
    z-index: 2;
}
/* Estiliza botao*/
.btn-separação{

    background-color: #067d9d;
    color: white; 
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: 0.6s ease; 
    -webkit-box-shadow: 0px 6px 32px 0px rgba(116,114,133,1);

}
.btn-separação:hover{
    background-color: #067c9d56;
    color: #000000b9;
    -webkit-box-shadow: 0px 6px 9px 0px rgba(116,114,133,1);    
    
}
.alinha-bnt-sepa{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.alinhaintro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.introducao {
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
    align-items: center;
}
.sobre {
    border-top: 2px solid #000000;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}
.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
}
.sobre-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}
.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom:1em;
    color: #3a3a3a;
}
.sobre-img {
    flex: 1 1 160px;
    margin: 0 10px;   
}
.produtos {
    max-width: 960px;
    margin: 60px auto;
}
.produtos h1 {
    font-size: 3em;
    margin: 0 10px 60px 10px
}
.produtos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.produtos-item {
    flex: 1 1 175px;
    margin: 10px;
}
.produtos-item h2 {
    font-size: 3em;
    color:#a4a4a4;
    background: #f7f7f7;
    padding: 60px 20px;
}
.purple{
    border-top: 8px solid #102724;
}
.pink {
border-top: 8px solid #4a1724;
}
.blue {
border-top: 8px solid #1e192d; 
}
.preco {
    background: #c799e1;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    -webkit-box-shadow: 0px 6px 32px 0px rgba(116,114,133,1);
    
}
.preco-item {
    flex: 1 1 260px;
    border: 1px solid rgb(27, 27, 27);
    border-radius: 5px;
    background-color: #dddddd;
    z-index: 2;
    padding: 20px;
    margin: 10px;
}
.preco-item h2 {
    font-size:3em;
    text-align: center;
    margin-top: 20px;
}
.preco-item span {
    max-width: 300px;
    margin: 20px auto;
    display: block;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}
.preco-item sup {
    font-size: 1.5rem;
}
.preco-item ul {
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    font-style: italic;
    color: #000000;
}
.preco-item li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.preco-item li::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background:#2c6fff9c;
    border-radius: 50%;
}

.preco-item a {
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border: 2px solid;
    color: #272727;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25em;
    padding: 15px 0;
    text-align: center;
    transition: 0.3s ease; 
}
.preco-item a:hover{
    color: rgba(172, 18, 219, 0.774);
    transition: 1.2s;
    border-radius: 1em;
}
.separação-cor-branca{
    display: flex;
    justify-content: center;
    margin:  40px;
    flex-wrap: wrap;
}
.separação-2{
    display: block;
    flex-wrap: wrap;
    max-width: 500px;
    padding-top: 20px;
    flex: 2 1 300px;
    margin-top: 0 10px;
    align-items: center;
    img{
        flex: 1 1 160px;
        margin: 10px;
        width: 500px;
    }
    h1{
        font-size: 2rem;
        margin: 5px;
    }
}

.footer {
    display: flex;
    background: #c799e1;
    height: 50px;
    align-items: center;
    -webkit-box-shadow: 0px 6px 32px 0px rgba(116,114,133,1);
}

.footer p{
    flex: 1;
    text-align: center;
    font-size: 1.25em;
}